MavenEclipseExample/.classpath
MavenEclipseExample/.project
MavenEclipseExample/.settings/org.eclipse.core.resources.prefs
MavenEclipseExample/.settings/org.eclipse.jdt.core.prefs
MavenEclipseExample/.settings/org.eclipse.m2e.core.prefs
